#menubar {
  position: fixed;
  overflow: hidden;
  width: 99%;
  top: 10px;
  /* background-color: rgb(255, 147, 199); */
  background-image: url("media/menu2.jpg");
  border-radius: 50px 50px;
  border: 3px solid rgb(245, 240, 243);
  margin-bottom: 200px;
}

.menubar a {
  float: left;
  display: block;
  /* color: rgb(255, 254, 254); */
  color: rgb(0, 0, 0);

  text-align: center;
  /* padding-right: 16px; */
  /* padding: 35px 16px; */
  margin: 20px;
  text-decoration: none;
  font-size: x-large;
  font-weight: bold;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.limenu {
  display: inline;
}

.menubarlist {
  /* float: center; */
  margin-left: 200px;
  /* margin-top: 35px; */
}

#logopic {
  float: left;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  margin-left: 20px;
  margin-top: 10px;
}

body {
  /* background-color: rgb(248, 204, 233); */
  /* background-image: url("https://amymhaddad.s3.amazonaws.com/morocco-blue.png"); */
  /* background-image: url("media/s.jpg"); */
  background-image: url("media/m.jpg");
}

.section {
  /* padding-top: 200px; */
  width: 80%;
  margin: auto;
  text-align: center;
  margin-top: 200px;
  margin-bottom: 200px;
  border-style: double;
  border-color: rgb(255, 255, 255);
  border-width: 10px;
  border-radius: 30px;
  background-color: rgb(255, 172, 213);

  padding-bottom: 20px;
}

#ansContainer {
  display: flex;
  justify-content: space-between;
}

#spa {
  width: 90%;
}

.Q1 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  /* font-family: "Poppins"; */
  font-weight: bold;
  font-size: 18px;
  border: solid white;
  border-radius: 15px;
  width: 350px;
  height: 330px;
  margin: auto;
  text-align: left;
  background-image: url("media/m.jpg");
}

.Q2 {
  font-family: "Actor";
  /* font-weight: bold; */
  font-size: 18px;
  border: solid white;
  border-radius: 15px;
  width: 350px;
  height: 230px;
  margin: auto;
  text-align: left;
  background-image: url("media/m.jpg");
}

p {
  padding-left: 20px;
}

h2 {
  /* font-family: Georgia, "Times New Roman", Times, serif; */
  /* font-family: "Ubuntu"; */
  font-family: "Abril Fatface";
  font-weight: bold;
}

h3 {
  text-align: center;
}

* {
  box-sizing: border-box;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
  width: 50%;
  /* height: 300px; */
  margin: auto;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 20px;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

.mySlides img {
  width: 100%;
  height: 10%;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev {
  left: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

/* p {
  font-size: 40px;
} */

#spa {
  /* font-family: "Thasadith"; */
  font-family: "Poppins";
  font-size: 20px;
  font-weight: bold;
}

#like {
  /* background-image: url("media/l.png"); */
  background-image: url("media/f.png");
  width: 309px;
  height: 307px;
  border: none;
  padding: 50px;
}

form {
  width: 50%;
  padding: 20px;
  text-align: left;
  margin: auto;
  font-family: "Abhaya Libre";
  font-size: 24px;
}

input[type="text"],
textarea {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 20px;
  border-radius: 10px;
  padding: 13px 30px;
  border: 2px solid rgb(255, 255, 255);
  background-color: rgb(255, 214, 241);
  box-sizing: border-box;
  resize: vertical;
  padding: 12px;
  /* font-family: "Abhaya Libre"; */
  font-family: "Actor";
  font-size: 20px;
}

#submit {
  background-color: rgb(255, 225, 242);
  border-radius: 5px;
  padding: 13px 30px;
  border: 5px solid white;
  cursor: pointer;
  margin: 0 auto;
  display: flex;
  font-family: "Actor";
  font-size: 28px;
  font-weight: bold;
  margin-top: 25px;
}

#submit:hover {
  /* transition-timing-function: ease-out;
  transition-duration: 1s;
  transition-property: transform;
  transform: scaleX(0);
  transform-origin: 0 50%; */
  /* background-color: rgb(224, 12, 154); */
  background-image: url("media/b.jpg");
}
